.CharacterDetails {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    

}

.CharacterWindow {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid #3b3838;
    width: 50%;
    height: 600px;
    margin: 20px 0;
    padding: 20px;
}