.Character {
  /* cursor: pointer;
  color: green;
  overflow: hidden; */
  position: relative;
  height: 100%;
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
.activeClass {
  font-weight: bold;
}

/* .listStyle {
  flex: 2;
  background-color: rgba(202, 228, 172, 0.8);
  margin-right: 30px;
  border-radius: 10px;
  
} */

/* .windowStyle {
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(170, 125, 125);
  border-radius: 10px;
  background-color: beige;
} */
